<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProyectoDinamico</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>Control.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsultaContacto</display-name>
    <servlet-name>ConsultaContacto</servlet-name>
    <servlet-class>Control.ConsultaContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsultaContacto</servlet-name>
    <url-pattern>/ConsultaContacto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logear</display-name>
    <servlet-name>Logear</servlet-name>
    <servlet-class>Control.Logear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logear</servlet-name>
    <url-pattern>/Logear</url-pattern>
  </servlet-mapping>
</web-app>